@{
   Layout = "_Layout";
	ViewData["Title"] = "Article D";
}

<script type="application/ld+json">
	{
		"@@context": "http://schema.org",
		"@@type": "Article",
		"name": "Article D",
		"datePublished": "2019-07-19T00:00:00-04:00",
		"image": {
			"contentUrl": "http://article-test.dev.readup.com/Assets/images/vincent-van-zalinge-1107091-unsplash.jpg"
		}
	}
</script>
<div>
	<h2>Article D</h2>
	<h3>Content parser test article</h3>
	<h4>
		Published: <time datetime="2019-07-19T00:00:00-04:00" itemprop="datePublished">July 19, 2019</time>
	</h4>
	<div>
		<h5>Pre-article content</h5>
		<div>
			<!-- 4 block elements -->
			<p>Vestibulum lorem sed risus ultricies tristique nulla aliquet enim.</p>
			<p>Eu nisl nunc mi ipsum faucibus.</p>
			<p>In metus vulputate eu scelerisque felis.</p>
			<p>Laoreet sit amet cursus sit. </p>
		</div>
	</div>
	<div>
		<h5>Article content</h5>
		<!-- 8 block elements -->
		<div class="lead">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quam id leo in vitae turpis. Et malesuada fames ac turpis egestas integer.
		</div>
		<div>
			<p>Tincidunt praesent semper feugiat nibh sed. Est ullamcorper eget nulla facilisi etiam dignissim diam.</p>
		</div>
		<div class="ad">Ad 1</div>
		<div>
			<p>Montes nascetur ridiculus mus mauris vitae. Urna nunc id cursus metus aliquam eleifend mi in nulla.</p>
			<blockquote>
				<p>Dui accumsan sit amet nulla facilisi morbi tempus iaculis.</p>
			</blockquote>
			<p>Odio eu feugiat pretium nibh ipsum consequat. Sem nulla pharetra diam sit. Proin libero nunc consequat interdum. Tempor orci dapibus ultrices in iaculis nunc sed augue.</p>
		</div>
		<div class="ad">Ad 2</div>
		<div>
			<p>Vitae semper quis lectus nulla at volutpat.</p>
		</div>
		<div class="ad">Ad 3</div>
		<div>
			<figure>
				<img src="/Assets/images/vincent-van-zalinge-1107091-unsplash.jpg" alt="Image 1" />
				<figcaption>Article Image 1</figcaption>
			</figure>
		</div>
		<p>Quam adipiscing vitae proin sagittis nisl. Eu non diam phasellus vestibulum lorem sed risus.</p>
		<div>
			<blockquote>
				<p>Aliquam eleifend mi in nulla posuere sollicitudin. Volutpat ac tincidunt vitae semper quis lectus nulla at. Ac turpis egestas integer eget aliquet nibh praesent.</p>
				<p>Egestas dui id ornare arcu odio ut sem nulla.</p>
			</blockquote>
			<p>Neque aliquam vestibulum morbi blandit cursus risus at. Massa sed elementum tempus egestas sed sed risus pretium quam. Nulla aliquet enim tortor at. Massa placerat duis ultricies lacus sed.</p>
			<figure>
				<img src="/Assets/images/sutirta-budiman-560096-unsplash.jpg" alt="Image 1" />
				<figcaption>Non-article Image</figcaption>
			</figure>
		</div>
	</div>
	<div>
		<h5>Post-article content</h5>
		<div>
			<!-- 5 block elements -->
			<p>Morbi tincidunt augue interdum velit euismod.</p>
			<p>Varius sit amet mattis vulputate enim nulla.</p>
			<p>Ac tortor dignissim convallis aenean et tortor at.</p>
			<p>Sit amet consectetur adipiscing elit pellentesque.</p>
			<p>Amet risus nullam eget felis eget.</p>
		</div>
	</div>
</div>