@{
   Layout = "_Layout";
	ViewData["Title"] = "Article E";
}

<article itemscope itemtype="http://schema.org/Article">
	<h2 itemprop="name headline">Article E</h2>
	<h3>Binary text content clusters</h3>
	<h4>
		Published: <time datetime="2019-08-05T00:00:00-04:00" itemprop="datePublished">August 5, 2019</time>
	</h4>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla erat augue, ac semper sapien mattis vitae. Proin tincidunt mi in ante posuere dignissim. Donec consequat erat neque, sit amet mollis nulla tempus pretium. Sed convallis dolor sit amet massa egestas, in sollicitudin sapien maximus. Ut euismod enim nunc, sit amet mollis tellus porttitor quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam eget nibh non orci suscipit semper in nec lectus. Curabitur non dolor felis. Phasellus elementum orci urna, ut placerat mi feugiat vitae. Donec vel quam at nunc semper posuere. Maecenas neque velit, vestibulum nec congue vitae, tincidunt sed ligula. Mauris dolor nunc, pretium ac egestas vel, varius sit amet arcu. Praesent at lobortis diam.</p>
		<p>Vestibulum interdum lobortis odio, sit amet dignissim eros fringilla vel. Sed placerat sodales ullamcorper. Nunc ac orci ac diam cursus dapibus sed sed sem. Donec sit amet ornare odio. Nullam dictum felis velit, a egestas velit semper quis. Aliquam eget tortor in magna malesuada lacinia eu id nunc. Proin in risus nec diam interdum fermentum. Praesent vel commodo lacus. Aenean sit amet consectetur dolor.</p>
	</section>
	<section>
		<div class="ad">
			<span>Ad 1</span>
		</div>
	</section>
	<section>
		<p>Aliquam ultrices mollis sem, id porttitor felis aliquet vitae. Mauris efficitur blandit ex et ornare. Vivamus iaculis elit id mauris cursus aliquam. Sed rhoncus ullamcorper vestibulum. Phasellus lacinia augue in purus sollicitudin, eu elementum ex malesuada. Quisque eu ex nisl. Vivamus vehicula risus consectetur, facilisis ligula vel, elementum mi. Maecenas ac tellus non nunc auctor maximus. Suspendisse ante ipsum, aliquet a erat venenatis, blandit porttitor sem. Praesent vestibulum facilisis nisl, in pharetra urna accumsan eget.</p>
		<p>Integer id tristique sem. Morbi dui lorem, pharetra id dapibus a, ornare eu risus. Pellentesque eu viverra tortor. Pellentesque ut mi sit amet nisl feugiat lobortis iaculis in ex. Suspendisse potenti. Fusce imperdiet dui tortor, eu malesuada neque malesuada et. Nunc dapibus odio in mi feugiat, vitae mollis odio rutrum. Aliquam sit amet feugiat ipsum, id convallis turpis. Etiam laoreet arcu id arcu pellentesque, quis faucibus dui sollicitudin. Aliquam non urna vitae nibh viverra euismod facilisis sit amet nulla. Vivamus eget felis nunc. Etiam luctus dolor a metus eleifend sodales. Phasellus non viverra ante.</p>
		<p>Donec diam orci, rutrum fringilla libero ac, laoreet faucibus leo. Sed bibendum eu nisl ac efficitur. Maecenas dui enim, feugiat eget ornare quis, lacinia ac nibh. Nulla laoreet id mauris quis ornare. In vitae massa leo. Curabitur congue pretium feugiat. Donec eget tellus interdum, consequat nulla non, pellentesque urna. Praesent sit amet turpis sapien. Donec dignissim et nunc at elementum. Aenean mollis sed mauris tincidunt efficitur. Nulla consectetur at lectus a scelerisque. Nam rhoncus iaculis dictum. Nam fringilla ante sit amet pharetra pulvinar.</p>
		<p>Aliquam ultrices mollis sem, id porttitor felis aliquet vitae. Mauris efficitur blandit ex et ornare. Vivamus iaculis elit id mauris cursus aliquam. Sed rhoncus ullamcorper vestibulum. Phasellus lacinia augue in purus sollicitudin, eu elementum ex malesuada. Quisque eu ex nisl. Vivamus vehicula risus consectetur, facilisis ligula vel, elementum mi. Maecenas ac tellus non nunc auctor maximus. Suspendisse ante ipsum, aliquet a erat venenatis, blandit porttitor sem. Praesent vestibulum facilisis nisl, in pharetra urna accumsan eget.</p>
		<p>Vestibulum interdum lobortis odio, sit amet dignissim eros fringilla vel. Sed placerat sodales ullamcorper. Nunc ac orci ac diam cursus dapibus sed sed sem. Donec sit amet ornare odio. Nullam dictum felis velit, a egestas velit semper quis. Aliquam eget tortor in magna malesuada lacinia eu id nunc. Proin in risus nec diam interdum fermentum. Praesent vel commodo lacus. Aenean sit amet consectetur dolor.</p>
		<p>Donec diam orci, rutrum fringilla libero ac, laoreet faucibus leo. Sed bibendum eu nisl ac efficitur. Maecenas dui enim, feugiat eget ornare quis, lacinia ac nibh. Nulla laoreet id mauris quis ornare. In vitae massa leo. Curabitur congue pretium feugiat. Donec eget tellus interdum, consequat nulla non, pellentesque urna. Praesent sit amet turpis sapien. Donec dignissim et nunc at elementum. Aenean mollis sed mauris tincidunt efficitur. Nulla consectetur at lectus a scelerisque. Nam rhoncus iaculis dictum. Nam fringilla ante sit amet pharetra pulvinar.</p>
	</section>
	<footer>
		<ol>
			<li>Footer content</li>
			<li>More footer content</li>
		</ol>
	</footer>
</article>