@* Copyright (C) 2022 reallyread.it, inc. *@

@* This file is part of Readup. *@

@* Readup is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License version 3 as published by the Free Software Foundation. *@

@* Readup is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. *@

@* You should have received a copy of the GNU Affero General Public License version 3 along with Foobar. If not, see <https://www.gnu.org/licenses/>. *@

@{
   Layout = "_Layout";
	ViewData["Title"] = "Article G";
}

@section Head {
	<meta name="author" content="Phil Collins" />
	<META name="TWITTER:IMAGE" content="https://article-test.dev.readup.org/Assets/images/holly-lalonde-CX98V6fyLj8-unsplash.jpg" />
}

<div>
	Article G<br /><br />
	Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat. Fusce ut placerat orci nulla pellentesque dignissim. Turpis in eu mi bibendum neque. Nunc vel risus commodo viverra. Donec pretium vulputate sapien nec sagittis aliquam malesuada. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Sodales ut eu sem integer vitae justo. Velit egestas dui id ornare arcu odio ut sem. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Massa vitae tortor condimentum lacinia quis vel. Sollicitudin ac orci phasellus egestas. Turpis egestas maecenas pharetra convallis posuere morbi leo. Tellus pellentesque eu tincidunt tortor aliquam. Purus sit amet volutpat consequat mauris. Nullam non nisi est sit amet facilisis magna etiam. Consectetur lorem donec massa sapien faucibus. Tortor aliquam nulla facilisi cras. Libero enim sed faucibus turpis in eu. Feugiat vivamus at augue eget. Posuere morbi leo urna molestie at elementum eu.<br /><br />
	Nisi scelerisque eu ultrices vitae. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Tortor dignissim convallis aenean et tortor at risus. Ut ornare lectus sit amet est placerat. Eget lorem dolor sed viverra ipsum nunc. Est velit egestas dui id ornare arcu odio ut. Id semper risus in hendrerit gravida rutrum quisque non. Velit scelerisque in dictum non consectetur a erat nam. Pulvinar pellentesque habitant morbi tristique senectus et. Sagittis eu volutpat odio facilisis mauris. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Nisl vel pretium lectus quam id leo in vitae turpis. Nam libero justo laoreet sit amet cursus sit amet dictum. Nibh sit amet commodo nulla facilisi.<br /><br />
	Bibendum enim facilisis gravida neque convallis a. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Lobortis mattis aliquam faucibus purus. Arcu non sodales neque sodales ut. Interdum velit euismod in pellentesque massa placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Eget felis eget nunc lobortis mattis. Sit amet dictum sit amet justo donec enim diam. Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Tortor consequat id porta nibh venenatis cras. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Enim ut tellus elementum sagittis vitae et leo duis ut. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Vitae semper quis lectus nulla at volutpat diam. Gravida in fermentum et sollicitudin ac orci phasellus egestas. Eu lobortis elementum nibh tellus. Tristique senectus et netus et malesuada fames.
</div>