@{
   Layout = "_Layout";
	ViewData["Title"] = "Article H";
}

<h2>Article H</h2>
<h3>Preformatted text content parser test</h3>
<h4>All preformatted text blocks should be retained regardless of node position and no counted as primary text.</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut pharetra sit amet aliquam id diam maecenas ultricies mi. Condimentum lacinia quis vel eros.</p>
<div class="highlight">
	<div class="code-container">
		<div class="another-wrapper">
			<pre>
				<code>
// highly nested code sample
console.log('hello world');
				</code>
			</pre>
		</div>
	</div>
</div>
<p>Suspendisse in est ante in nibh mauris cursus mattis molestie. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus.</p>
<p>Luctus accumsan tortor posuere ac ut consequat. Amet nulla facilisi morbi tempus iaculis urna. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam.</p>
<pre>
// same level as paragraph elements
console.log('hello again');
</pre>
<p>Neque ornare aenean euismod elementum nisi.</p>