@{
   Layout = "_Layout";
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
	309 Poe Ave<br />
	Toms River, NJ 08753<br />
	<abbr title="Phone">P:</abbr>
	732-773-7275
</address>

<address>
	<strong>Admin:</strong> <a href="mailto:admin@readup.com">admin@readup.com</a><br />
	<strong>Support:</strong> <a href="mailto:support@readup.com">support@readup.com</a>
</address>
