@* Copyright (C) 2022 reallyread.it, inc. *@

@* This file is part of Readup. *@

@* Readup is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License version 3 as published by the Free Software Foundation. *@

@* Readup is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. *@

@* You should have received a copy of the GNU Affero General Public License version 3 along with Foobar. If not, see <https://www.gnu.org/licenses/>. *@

@{
   Layout = "_Layout";
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
	309 Poe Ave<br />
	Toms River, NJ 08753<br />
	<abbr title="Phone">P:</abbr>
	732-773-7275
</address>

<address>
	<strong>Admin:</strong> <a href="mailto:admin@readup.org">admin@readup.org</a><br />
	<strong>Support:</strong> <a href="mailto:support@readup.org">support@readup.org</a>
</address>
