@{
   Layout = "_Layout";
	ViewData["Title"] = "Home Page";
}

<h2>Articles</h2>
<ol>
	<li>
		<a href="/Articles/A">Article A (schema.org microdata)</a>
	</li>
	<li>
		<a href="/Articles/B">Article B (schema.org LD+JSON)</a>
	</li>
	<li>
		<a href="/Articles/C">Article C (schema.org microdata, dynamically added content)</a>
	</li>
	<li>
		<a href="/Articles/D">Article D (content parser test)</a>
	</li>
	<li>
		<a href="/Articles/E">Article E (content parser test, binary text clusters, lazy img)</a>
	</li>
	<li>
		<a href="/Articles/F">Article F (OpenGraph)</a>
	</li>
	<li>
		<a href="/Articles/G">Article G (Misc. Metadata)</a>
	</li>
</ol>